<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014228246221-l87d6lb5c0n1b0r7q64t3d94ig7eamqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014228246221-l87d6lb5c0n1b0r7q64t3d94ig7eamqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBCz8cQNwOLro-LM2IcPYBTY2I04z5nrt0</string>
	<key>GCM_SENDER_ID</key>
	<string>1014228246221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eddiiOS.iOSTest1</string>
	<key>PROJECT_ID</key>
	<string>iostest1-d9765</string>
	<key>STORAGE_BUCKET</key>
	<string>iostest1-d9765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014228246221:ios:76a7c264b23d1db6</string>
	<key>DATABASE_URL</key>
	<string>https://iostest1-d9765.firebaseio.com</string>
</dict>
</plist>